	<div style="width:100%;overflow:hidden;margin-top:50px" class="pure-g  feedback ">
		<center style="width:98%">
			<%=  Feedback.find_each do |f| %>
			
			<div  class="pure-u-1 pure-u-md-1-3 " style ="text-align: left;
			min-height: 150px;
			border: 1px solid rgba(0,0,0, 0.5);
			padding: 3px;
			padding-bottom: 6px;
			margin: 6px;
			background: #eaeaea;
			"
			>
			<img class="img-responsive" src = "<%= f.photo_url %>" style="width:128px;height:128px;display:inline;float:left;margin-right:5px;			border: 1px solid rgba(0,0,0, 0.5);
">
			<p style="display:inline;width:60%;padding-top:5px"><%= f.k %></p><br/><br/>
			<p style="display:inline; float: left;font-weight:bold;   color: #08c;"><%= f.name %>		<small style="color:#333;"><%= f.location %></small>		
			</p>

		</div>
		<% end %>
	</center><br><br>
	<a style="margin:0 auto;margin-top:10px;" href="<%= PagePart.find_by(page_name: 'yelp_url').text%>"  target="_blank"><button class = "btn btn-primary btn-medium">View all reviews</button></a> <br><br><br>
	
</div>

<h2 class="like-header">Blog news </h2>

<div class="pure-g   blog-wrap " style="width:95%;overflow:hidden">
	<center>

		<%=  Article.find_each do |a| %>

<!-- 			=  Article .all.each d o |a| 
-->
<div class="pure-u-1 pure-u-md-1-5 blog-d">
	<div style = "max-height:122px;overflow:hidden"> <img class="class="img-responsive"" src = "<%= a.string %>"/></div>

	<div class="blog-date pull-right"><span class="day"><%= a.day %></span>
		<span class="month"><%= a.month %></span></div>

		<h4 class="blog-header-h3">			
			<a target="_blank" class="blog-a" href="<%= a.link %>">
				<%= a.header %>
			</a></h4>

			<p class="blog-p"><%= a.p %> </p>
			<a target="_blank" href="<%= a.link %>" class=" blog-a read-more">Read more... </a>
		</div>
		<% end %>  

	</center>
</div>