
<% if @lead -%>


<h3 class="center">Current status of your car is <%= @lead.status %> </h3><br/><br/>		    




<div class= "text-center status-wrap pure-g " >

	<div class="pure-u-1 pure-u-md-1-2" style='padding-left: 15px;'>
		<%=image_tag("stat/speedometer" + @lead.status + ".png", :class => "status_image ", :alt=>  "status", :usemap  => "#i-map" , :style => "")%>
		<map name="i-map" id="i-map">
			<area class="cursor-default"   alt="" onclick="$('.wrap-1').removeClass('hidden');$('html').addClass('no-overflow');" title="" href="#" shape="poly" coords="4,293,56,293,63,273,144,273,149,246,5,245,3,253,0,275" />
			<area class="cursor-default"  onclick="$('.wrap-2').removeClass('hidden');$('html').addClass('no-overflow');"  alt="" title="" href="#" shape="poly" coords="46,166,151,163,153,142,42,142,39,152" />
			<area class="cursor-default"  onclick="$('.wrap-3').removeClass('hidden');$('html').addClass('no-overflow');"  alt="" title="" href="#" shape="poly" coords="62,65,224,64,222,37,66,44" />
			<area class="cursor-default"  onclick="$('.wrap-4').removeClass('hidden');$('html').addClass('no-overflow');" alt="" title="" href="#" shape="rect" coords="277,17,392,1" />
			<area class="cursor-default"  onclick="$('.wrap-5').removeClass('hidden');$('html').addClass('no-overflow');"  alt="" title="" href="#" shape="poly" coords="447,39,455,65,562,66,556,44" />
			<area class="cursor-default"   onclick="$('.wrap-6').removeClass('hidden');$('html').addClass('no-overflow');" alt="" title="" href="#" shape="poly" coords="513,141,522,167,672,167,671,141" />
			<area class="cursor-default"  onclick="$('.wrap-7').removeClass('hidden');$('html').addClass('no-overflow');"  alt="" title="" href="#" shape="poly" coords="517,260,516,284,662,283,661,259" />
			<area class="cursor-default"  onclick="$('.wrap-8').removeClass('hidden');$('html').addClass('no-overflow');"  alt="" title="" href="#" shape="poly" coords="450,359,451,390,553,386,549,364" />
		</map>

	</div>
	<div class="pure-u-1 pure-u-md-1-2 " style="width:300px;margin:0 auto;text-align:left ">
		<h4>1. Contact insurance carrier </h4>
		<p>
			Schedule an appointment or drop by  </p>
			<!---2!-->
			<h4>2.Your Estimate  </h4>
			<p>Prepare estimate <br/>
				Arrange rental car 
				<br/>
				Insurance company review
				<br/> 
				Provide phone and email info for updates</p>
				<!--3!-->
				<h4>3. Insurance approval</h4>	<p>
				Vehicle taken apart to identify all damage <br/>
				We send you estimated complection date via phone or email.
			</p>
			<!--4!-->
			<h4>4. Vehicle Repair</h4>
			<p>
				Body, parts and mechanical repairs 
				<br/>
				First quality inspection <br/>
				Confirm delivery date
			</p>
			<!---5!-->
			<h4>5.Vehicle Paint </h4>

			Body sanding and smoothing  <br/>
			Primer, paint and clear coat applied <br/>
			Second quality inspection 
			<!---6!-->

			<h4>6. Vehicle Reassembly</h4>

			Vehicle put back together <br/>
			Final delivery date reminder
			<!--7!-->
			<h4>7. Quality Assurance </h4>
			<p>
				Light detailing <br/>
				Final Service Advisor quality assurance check <br/>
				Vehicle test-drive as needed 
			</p>
			<!--8-->
			<h4>8. Car is ready</h4>
			<p>
				Pick up your car on time <br/>
				Get back to the rhythm of your life  </p>
			</div>
		</div>


		<center style="">
			<% @car_photo = CarPhoto.find_by(user_id: @lead.id)
			(1..8).each do |i| 
				@photo = @car_photo["p" + i.to_s]
				if @photo != nil 
					@url = "/uploads/car_photo/p" + i.to_s + "/" + @car_photo.id.to_s + "/" + @photo.to_s %> 
					<div class="main-wrap  wrap-<%= i %> hidden" style="cursor:pointer;background: rgba(0,0,0,0.8);position:fixed;top:57px; left:0;right:0;bottom:0">

						<div style="display:block;" class="photo-wrap">
							<img style="cursor:default;cursor:default;max-width:80%;
							position: absolute;
							margin: auto;
							top: 0;
							left: 0;
							right: 0;
							bottom: 0;"  onclick = "event.preventDefault();" class="img-picure img img-responsive" src = "<%= @url%>">			</img>
							<i style="color:rgba(255,255,255,0.7); /*margin-left:-30px;position:absolute;*/

							position: fixed;
							top: 61px;
							right: 20px;
							" class="photo-closer fa fa-times fa-2x"></i>
						</div>
					</div>
					<script type="text/javascript">
						$("area:nth-child(<%= i%>)").removeClass('cursor-default')
					</script>
					<% end %>
					<% end %>
				</center>


				<% else -%>
				<center>
					<h3> No records found.</h3>
				</center>
				<% end -%>



				<script type="text/javascript">
					$(document).ready(function() {
						$('map').imageMapResize(); $('area').click(function(){console.log(1)});
						$('.photo-wrap').css('max-height', $(window).height()*0.9 + "px"); 

				//$('.main-wrap').not('.img').click(function(){});

				// $('.main-wrap').on('click', function(e) {
				// 	if (e.target !== this){
				// 		return;
				// 	}
				// 	$('.main-wrap').addClass('hidden');
				// });

			// $('.img-picture').css({
			// 	'position' : 'absolute',
			// 	'left' : '50%',
			// 	'top' : '50%',
			// 	'margin-left' : -$('.className').outerWidth()/2,
			// 	'margin-top' : -$('.className').outerHeight()/2
			// });

					$('.main-wrap').on('click', function(e) {
						$('.main-wrap').addClass('hidden');
						$('html').removeClass('no-overflow')

					}).on('click', 'img', function(e) {
				    // clicked on descendant div
				    e.stopPropagation();
				});

				});
			// function show_picture(index) {
			// 	$('wrap-' + index).removeClass('hidden');
			// 	$('html').addClass('no-overflow');
			// }
		</script>
		<style>
			.no-overflow1 {
				overflow:hidden!important;
				overflow-y: hidden!important;
			}
			.cursor-default{
				cursor: default;
			}
			@media (max-width: 900px){
				.photo-closer {
					top: 70px!important;
				}
			}
		</style>