
<div class = "center">
  <h2 id ="services" class= "like-header">Get back on the road afer your accident</h2>
  <h2>We restore the rythm of life</h2>
</div>

<!--- new line!-->

<div class="pure-g center portfolio ">
    <!--- 1!-->
    <div class="pure-u-1 pure-u-md-1-3">
        <div class=" port_wrap port-click" onclick = "show_modal(1)"  
        style="background-image:url(<%=asset_path('slider1.jpg')=%>);">
        <div class="middle-wrap">
            <a href = "##/repair_bumper"><p class="port_text port_text_2lines" >Estimate <br/>
              using your mobile device</p>
          </a>
      </div>    
  </div>
</div>
<!--- 2!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(2)"  
    style="background-image:url(<%=asset_path('portfolio/bumper.jpg')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text port_text_2lines" >Repair bumper in your place <br/>
            for most cars</p>
        </a>
    </div>
</div>
</div>
<!--- 3!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(3)"  
    style="background-image:url(<%=asset_path('portfolio/towing2.jpg')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text" 
            style="margin-top:15%">Towing</p>
        </a>
    </div>
</div>
</div>


<br/>
<!--- 4!-->

<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(4)"  
    style="background-image:url(<%=asset_path('portfolio/paint.jpg')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text" >Paintless 
            dent repair</p>
        </a>
    </div>
</div>
</div>
<!--- 5!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(5)"  
    style="background-image:url(<%=asset_path('portfolio/windows_repair.jpg')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text" >Auto glass repair</p>
        </a>
    </div>
</div>
</div>
<!--- 6!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(6)"  
    style="background-image:url(<%=asset_path('portfolio/man_paper.jpg')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text" 
           >Insurance claim process</p>
       </a>
   </div>
</div>
</div>


<br/>
<!--- new line!-->

<!--- 7!-->

<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(7)"  
    style="background-image:url(<%=asset_path('portfolio/restore_light.jpg')=%>);">
    <div class="middle-wrap">

        <a href = "##/repair_bumper"><p class="port_text" >Restore light</p>
        </a>
    </div>
</div>
</div>
<!--- 8!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(8)"  
    style="background-image:url(<%=asset_path('portfolio/rent.jpg')=%>);">
    <div class="middle-wrap">

        <a href = "##/repair_bumper"><p class="port_text" >Rent a car</p>
        </a>
    </div>
</div>
</div>
<!--- 9!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(9)"  
    style="background-image:url(<%=asset_path('portfolio/uber.jpg')=%>);">
    <div class="middle-wrap">

        <a href = "##/repair_bumper"><p class="port_text" 
           >Uber an Lyft drivers</p>
       </a>
   </div>
</div>
</div>

<!--- 10!-->
<div class="pure-u-1 pure-u-md-1-3">
    <div class=" port_wrap port-click" onclick = "show_modal(10)"  
    style="background-image:url(<%=asset_path('stat/services2.png')=%>);">
    <div class="middle-wrap">
        <a href = "##/repair_bumper"><p class="port_text port_text_2lines" >Car repair process</p>
        </a>
    </div>
</div>

</div>

<!--- 11!-->
<div class="pure-u-1 pure-u-md-1-3">

    <iframe  style="height:200px;width:100%;border:5px solid white;" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen"
    src="https://www.youtube.com/embed/xZY43QSx3Fk?autohide=1&autoplay=0&allowfullscreeen=1">
</iframe>
</div>

<!---end porfolio!-->

</div>


<%= render 'layouts/bas' %>

<!--- whys block !-->

<div class="pure-g center whyus ">
    <div class="pure-u-1 pure-u-md-1-3"> 
        <h2> 8 </h2>
        <p><i class="fa fa-wrench  "></i>  years in business</p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <h2> 3246 </h2>
        <p><i class="fa fa-user  "> satisfied customers </i></p>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h2> 405 </h2>
        <p><i class="fa fa-car  "></i> different models we serve </p>
    </div>
</div>
<!--- appointment block !-->


<div class="pure-u-1 point" style="background-image:url('<%=PagePart.find_by(page_name: 'appointment_url').text =%>');">
    <a href="appointment">
     <h3 class="like-header point-h">Make an appointment <br/>50% OFF Body Paint</h3>
 </a><br/>
 <!---    <a  href ="point" class= "btn btn-large btn-primary" >Make</button>!-->
</div>
<div class="pure-g center" style="min-height:300px" >
  <div class="pure-u-1" style="max-width:100%;margin:0 auto;text-align:left;margin-top:20px ">

    <br/>
    <br/>
    <%= raw PagePart.find_by(page_name: 'home').text%>
</div>
</div>
<%= render 'static_pages/blog' %>


<%= render 'static_pages/whyspopup' %>
