<div class="pure-g center whyus ">
    <div class="pure-u-1 pure-u-md-1-3"> 
    <h2> 8 </h2>
    <p><i class="fa fa-wrench  "></i>  years in business</p>
     </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
        <h2> 3246 </h2>
       	<p><i class="fa fa-user  "> satisfied customers </i></p>
    
     </div>
    <div class="pure-u-1 pure-u-md-1-3">
        <h2> 405 </h2>
	   	<p><i class="fa fa-car  "></i> different models we serve </p>

  </div>

</div>
<div class = "center">
  <h2 class= "like-header">Get back on the road afer your accident</h2>
  <h2>We restore the rythm of life</h2>
</div>


<!--- new line!-->

 <div class="pure-g center portfolio ">
<div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/repair_bumper"><p class = "port">Estimate <br/>
    	 using your mobile device</p>
    	<%= image_tag("slider1.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/repair_bumper"><p class = "port"> Repair bumper in your place <br/>
    	for most cars</p>
    	<%= image_tag("portfolio/bumper.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/towing"><p class = "port port1"> Towing</p>
    	<%= image_tag("portfolio/towing.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>

 </div>

 <br/>
 <!--- new line!-->

 <div class="pure-g center portfolio ">
<div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/windows_repair"><p class = "port1 port">Auto glass repair</p>
    	<%= image_tag("portfolio/windows_repair.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/paint"><p class = "port port1"> Paintless 
    	dent repair</p>
    	<%= image_tag("portfolio/paint.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/insurance"><p class = "port"> Insurance claim process</p>
    	<%= image_tag("portfolio/man_paper.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>

 </div>

 <br/>
 <!--- new line!-->

 <div class="pure-g center portfolio ">
<div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##restore_light"><p class = "port1 port">Restore light</p>
    	<%= image_tag("portfolio/restore_light.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>
        <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/rent"><p class = "port port1"> Rent a car 
    	</p>
    	<%= image_tag("portfolio/rent.jpg", :class => "img-responsive img-portfolio img-hover", :style => "")%>
    	</a>
    </div>
    <div class="pure-u-1 pure-u-md-1-3"> 
    	<a href = "##/insurance"><p class = "port"> Uber and Lyft drivers</p>
    	<%= image_tag("portfolio/uber.jpg", :class => "img-responsive img-portfolio img-hover")%>
    	</a>
    </div>

 </div>
