<% provide(:title, 'New car') %>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
<h1 style="display:none">New car</h1>
<div class="row">
  <div class="span6 offset3">
        <%= render 'shared/error_messages_leads' %>

    <%= form_for(@lead,:html => {:class => 'new_form', :onkeypress => "return event.keyCode != 13;"}) do |f| %>
      <div>
        <wizard>contact information</wizard>
          <section>
              <h3>contact information</h3>

              <%= f.text_field :name, placeholder: 'name', required: 'true' %>
              <%= f.text_field :phone, class: 'phone', placeholder: 'phone', required: 'true' %>
              <%= f.text_field :email, class: 'email', placeholder: 'email', required: 'true'%>
          </section>
          <wizard>car details</wizard>
          <section>

              <h3>car details</h3>
               <%= f.text_field :car_type, placeholder: 'vehicle type', class: "vehicle_type hidden", required: 'true' %>    
              <div class="btn-group vehicle_group" role="group">
                <button type="button" class="btn btn-primary">   
                           <i class="fa fa-car"></i>Car   </button>
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-truck"></i>Truck</button>
                <button type="button" class="btn btn-primary">
                  <i class="fa fa-bus"></i> Suv/Van</button>
                <button type="button" class="btn btn-primary">
                 <i class="fa fa-motorcycle"></i> Other</button>

              </div>
              <br/><br/>
              <!---<%= image_tag("car_types/carwhite.png", :class => "car_type", :alt => "car")%>
              <%= image_tag("car_types/truckwhite.png", :class => "car_type", :alt => "truck")%>
              <%= image_tag("car_types/suvvanwhite.png", :class => "car_type", :alt => "van")%>
              <%= image_tag("car_types/otherwhite.png", :class => "car_type", :alt => "otherwhite")%>
             -!-->
              <%= f.text_field :car_manufacturer, placeholder: 'manufacturer', required: 'true' %>
              <%= f.text_field :car_model, placeholder: 'model', required: 'true' %>
              <%= f.text_field :car_year, placeholder: 'year', required: 'true'%>

          </section>
          <wizard>Select damaged areas</wizard>  
          <section>
          <h3>Select damaged areas</h3>  
            <%= f.text_field :coords, placeholder: 'coords', required: 'true'%>
          </section>
          <wizard>Take the first photo from straight on</wizard>
          <section>
             <h3>Take the first photo from straight on</h3>
             <%= image_tag("photo1.jpg", :class => "car_photo")%>
             <br/>
             <%= f.file_field :photo1, required: 'true'  %><br/>
          </section>
          <wizard>Now take a photo from a side angle</wizard>
          <section>
              <h3>Now take a photo from a side angle</h3>
              <%= image_tag("photo2.jpg", :class => "car_photo")%>
              
              <%= f.file_field :photo2 , required: 'true' %><br/>
              <%= f.submit "Finish", class: "btn btn-large btn-primary hidden email_submit" %>

          </section>

        </div>
    <% end %>
  </div>

</div>