<% provide(:title, 'New car') %>

<h1 style="display:none">New car</h1>
<div class=" center  ">


  <%= render 'shared/error_messages_leads' %>

  <%= form_for(@lead,:html => {:class => 'new_form', :onkeypress => "return event.keyCode != 13;"}) do |f| %>
  <div>


   <wizard>Step 1</wizard>
   <section>
    <h3>contact information</h3>

    <%= f.text_field :name, placeholder: 'name', required: 'true' %><br/>
    <%= f.text_field :phone, class: 'phone', placeholder: 'phone', type: 'tel', required: 'true'  %><br/>
    <%= f.text_field :email, class: 'email', placeholder: 'email', required: 'true'  %><br>
    <center>
      <input style= "display: inline;
      margin-top: -2px;" type="checkbox" name="terms" value=""  required='true'> <span>I agree to <a href="/terms and conditions.docx">Terms and conditions</a></span><br>
      <div style="padding-top:10px">Your personal information will not be shared</div>
    </center><br>


  </section>

  <!-- car details!-->
  <wizard>Step 2</wizard>
  <section>

    <h3>car details</h3>
    <%= f.text_field :car_type, placeholder: 'vehicle type', class: "vehicle_type hidden", required: 'true', value: 'car' %>    
    <div class="btn-group vehicle_group" role="group">
      <button title ="Car" type="button" class="btn btn-primary">   
       <i class="fa fa-car"></i>Car   </button>
       <button type="button" title ="Truck" class="btn btn-primary">
        <i class="fa fa-truck"></i>Truck</button>
        <button type="button" title ="Suv/Van" class="btn btn-primary">
          <i class="fa fa-bus"></i> Suv/Van</button>
          <button type="button" title ="Other" class="btn btn-primary">
           <i class="fa fa-motorcycle"></i> Other</button>

         </div>
         <br/><br/>
              <!---<%= image_tag("car_types/carwhite.png", :class => "car_type", :alt => "car")%>
              <%= image_tag("car_types/truckwhite.png", :class => "car_type", :alt => "truck")%>
              <%= image_tag("car_types/suvvanwhite.png", :class => "car_type", :alt => "van")%>
              <%= image_tag("car_types/otherwhite.png", :class => "car_type", :alt => "otherwhite")%>
              -!-->
              <%= f.text_field :car_manufacturer, placeholder: 'manufacturer', required: 'true'%><br/>
              <%= f.text_field :car_model, placeholder: 'model', required: 'true'%><br/>
              <%= f.text_field :car_year, placeholder: 'year', required: 'true'%><br>
              <%= f.text_field :vin, placeholder: "vehicle vin number" %>
              <i title ="The VIN can be found by looking at the dashboard on the driver's side of the vehicle. The easiest way to view it is to stand outside the vehicle on the driver's side and look at the corner of the dashboard where it meets the windshield. If the VIN cannot be found there, open the driver's side door and look at the door post (where the door latches when it is closed). It is likely that the VIN will also be displayed in this location." 
              class="fa fa-question-circle tooltip-mark " data-toggle="tooltip"  data-placement="right"
              style="position: absolute; 
              margin: 8px;cursor:pointer"></i> 

            </section>
            <!-- coords-->  


            <wizard>Step 3</wizard>

            <section>
             <h3>Select damaged areas</h3>  
             <%= f.text_field :coords, placeholder: 'coords', required: 'true', class: 'coords '%>

             <%= render 'layouts/coords' %>

             <div style="text-align:left;width:200px;margin:0 auto;padding-left:120px">
               <input style="display:inline;margin-top:-2px" type="radio" name="seat" value="Driver's seat" /> Driver's seat<br>
               <input style="display:inline;margin-top:-2px" type="radio" name="seat" value="Passenger's seat"/> Passenger's seat
               <br><br>
             </div>

           </section>
           <!--end coords!-->
           <wizard>Step 4</wizard>
           <section>
           <div class="alert alert-success">Please, provide a photos of the damaged car, so we can provide you the most accurate estimate. Once close up, one further up.One at an angle to the left, and one at angle to the right.</div>
             <h3>Take the first photo from  close up - horizontally</h3>
             <p></p>
             <center>
               <%= image_tag("photo2.png", :class => "car_photo")%>
               <br/>
               <%= f.file_field :photo1, required: 'true'  %>
             </center>
             <br/>
             <center>
              <div style="width:250px;margin:0 auto;">
                Has an insurance claim been filled?<br>
                <input style="display:inline;margin-top:-2px;" type="radio" name="insurance" value="yes" onclick ="$('.i-hidden').val('yes')" /> yes
                <input style="display:inline;margin-top:-2px" type="radio" name="insurance" value="no" checked ="true" onclick ="$('.i-hidden').val('no')"/> no
                <input style="display:inline;margin-top:-2px" type="radio" name="insurance" value="not sure" onclick ="$('.i-hidden').val('not sure')"/> not sure<br/><br/>
                <%= f.text_field :insurance, placeholder: 'insurance', required: 'true', class: 'i-hidden hidden', value:'no' %>

                <%= f.text_area :i_comment, placeholder: 'Additional comments'%><br>
              </div>
            </center>
          </section>

          <!--step 5/home/jonstark/.ssh/id_rsa!-->
          <wizard>Step 5</wizard>
          <section>
            <h3>Now take a photo further away - vertically</h3>
            <%= image_tag("photo1.png", :class => "car_photo")%>
            <center>

              <%= f.file_field :photo2 , required: 'true' %><br/>
            </center>

            <%= f.submit "Finish", class: "new-form-submit btn btn-large btn-primary  email_submit" %>

          </section>

        </div>
        <% end %>

      </div>
    
      <script>
        $(document).ready(function() {
         // / $('map').imageMapResize(); 
  //select 400px or 320px picture;
  var width = $(window).width();
  if(width < 400) {
    car = $('.car320');
    car.removeClass('hidden')
  }
  else {
    car =$('.car400')
  }    

$(document.body).on("click touchstart", "map", function(e){
  //$("map").click(function(e) {
  //$("map").on("click touchstart", function(e) {
    alert(1);
    var offset = car.offset();
    var relativeX = (e.pageX - offset.left);
    var relativeY = (e.pageY - offset.top);
  //alert(relativeX+':'+relativeY);
  //console.log(relativeX+':'+relativeY);
  //$(".position").val("afaf");   

  $("body").append("<img  class='check-car' src='<%=asset_path('check.png')=%> ' style= 'cursor:pointer;color:red;position: absolute;top:"+ (e.pageY-15)  +"px;left: "+ (e.pageX-15)+"px' class=' '></img>");
  var val =$('.coords').val();
  if (val == "") {
    val = car.width();
  }  
  val+=  '##'+ relativeX+  '---'  + relativeY;
  $('.coords').val(val);
});
  $(document.body).on("click touchstart", ".check-car", function(){
    $(this).remove();
  })
  $('.steps > ul[role="tablist"] > li > a').addClass('pure-button ');
  $('.steps > ul[role="tablist"] > li > a').addClass('xxx');
});
// $('.check-car').on('click', function(){
//   alert(1);
//   $(this).delete();
// })

function buildCoords(){
  var seat = $("input[name=seat]:checked").val()
  var val = seat + '##' +car.width();
  var offset = car.offset();

  $('.check-car').each(function(){
    $this = $(this);
    var relativeX = (+$this.css('left').replace('px','') +15) - offset.left;
    var relativeY = (+$this.css('top').replace('px','') +15) - offset.top;
    val+=  '##'+ relativeX+  '---'  + relativeY;
    console.log(val);
    $('.coords').val(val);
  })
}
</script>
<style> @media (max-width: 700px){
  
  div#jivo-iframe-container.jivo-iframe-container-bottom{
   display: none!important;
  }
}</style>
