<p id="notice"><%= notice %></p>

<p>
  <strong>Src:</strong>
  <%= @ba.src %>
</p>

<p>
  <strong>Descr:</strong>
  <%= @ba.descr %>
</p>

<p>
  <strong>Title:</strong>
  <%= @ba.title %>
</p>

<%= link_to 'Edit', edit_ba_path(@ba) %> |
<%= link_to 'Back', bas_path %>
