 <!-- Header Carousel -->
 <header id="myCarousel" style ="margin-top:14px;padding-botom:30px;height:100%" class="carousel slide">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <div class="fill" style="background-position: 10% 10%; background-image:url(<%=asset_path('slider1.jpg')=%>);" >
      </div>
      <div class="carousel-caption">
        <h1 style="display:none" class= "carousel-h1">Free online estimate</h1>
        <%= link_to "Start here", "/new", class: " carousel-h1-link btn btn-large btn-primary", style: "color:white;display:none" %>

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <%= form_tag check_lead_car_status_path, :method => :get do %>
        <center><div  class=" div-wrap-phone carousel-phone center">
        <span style="font-size:17px">Check Repair Status</span><br/><br/>
          <%= text_field_tag :phone, "", class: 'phone ', placeholder: 'phone' %>
        
          <%= button_tag(type: "submit", class: "btn-phone btn btn-medium btn-danger")   do %>
          <i class="fa fa-search"></i> FIND
          <%end%>
        </div></center>
        <% end %>

      </div>
    </div>
    <div class="item">
      <div class="fill" style="background-image:url(<%=asset_path('slider4.jpg')=%>);"></div>
      <div class="carousel-caption">

       <br/><br/><br/><br/>

       <%= form_tag check_lead_car_status_path, :method => :get do %>
       <%= text_field_tag :phone, "", class: 'phone carousel-phone', placeholder: 'phone' %>
       <br/>
       <%= submit_tag "Check car status!", class: "btn btn-medium btn-primary" %>

       <% end %>      
     </div>

   </div>
 </div>

</div>

<!-- Controls -->
<a class="left carousel-control" href="#myCarousel" data-slide="prev">
  <span class="fa-arrow-left"></span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">
  <span class="fa-arrow-right"></span>
</a>
</header>
<script>
  $('.carousel').carousel({
        interval: 5000000000 //changes the speed
      })

</script>