<footer class="footer">
  <small>
    <a href="#">Fast Autobody Center</a>
    4557 Fountain Ave.Los Angeles Ca 90029
  </small>
  <nav>
    <ul>
       <li>  <%= link_to "My you tube video", contact_path %></li>
      </li>
       <li>
       	<%= link_to "Nuts and blogs", contact_path %>
       </li>

      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Facts you need yo know before repair", contact_path %></li>
    </ul>
  </nav>
</footer>
