  <!DOCTYPE html>
  <html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/grids-responsive-min.css">
    <style>
   /*   @media (max-width: 900px) {
        .green-button{
          display: none!important;
        }
        .chat_button{
          margin-top: 20px!important;
        }
        #myCarousel{
          height:800px!important;
        }

        .carousel-h1{
          display: block!important;
          margin-bottom: 5px;
        }
        .carousel-h1-link {
          display: inline-block!important;
        }
        .fill {
          background:url('<%=asset_path('slider5.jpg')=%>') !important;
          background-size: cover!important;
          background-position: top!important;
        }
        .right_nav {
         display: none; 
       }
     }
     @media (max-width: 500px){
      .fill {
        background-size: cover!important;
        background-position: top!important;
      }
      .modal-body {
        width:320px!important;
        margin:0 auto!important;
      }
    }
    @media (max-width: 399px){
      .car400 {
        display: none
      }
      .car320 {
        display: block!important;
      }
    }
    @media (max-width: 330px) {
     .logo-sign {
      display:none;
    }
  }
  @media (min-width:900px) {
    .logo-sign {margin-left: 250px!important;}
    .fill {
      background-position: center bottom !important;
      padding-top: 68px !important;

    }
    .carousel-phone {
      margin-top: 25% !important;
    }
    #myCarousel {
      min-height: 600px!important;
    }
  }*/
</style>
<%= render 'layouts/shim' %>
</head>

<body>

  <%= render 'layouts/header' %>


  <% if current_page?('/') %>
  <%= render 'layouts/carousel' %>

  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <% end %>
  <%= yield %>
  <% if current_page?('/') %>
  <%= render 'static_pages/whyspopup' %>
  <% end %>

  <%= render 'layouts/footer' %>


  <%= debug(params) if Rails.env.development? %>
<!--   <!— BEGIN JIVOSITE CODE {literal} —>
  <script type='text/javascript'>
    (function(){ var widget_id = 'aVxeNYDfxN';
      var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();</script>
      <!— {/literal} END JIVOSITE CODE —>
      
    -->
    

  </body>
  </html>